.no-margin {
    margin: 0 !Important;
    padding: 0 !important;
}
.exp-thumb-heading {
    position: absolute !important;
    top: 15px;
    left: 15px;
    margin: 0;
    display: block;
    color: #fff;
}
