 <div class="col-md-9">
 <div class="row">
                        <div class="col-sm-6">
                            <a href="product1.html">
                                <img src="images/loop-led-show.gif" class="img-responsive img-event-preview" alt="item">

                                <span class="productlist-price-container">
                                                <span class="product-price">
                                <br>
                                <span class="event-name">Pearson Sound</span>
                                </span>

                                </span>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="product1.html">
                                <img src="images/team-lab-crystal-universe-1.gif" class="img-responsive img-event-preview" alt="item">

                                <span class="pin-caption"><span class="productlist-price-container">
                                                    <span class="product-price">
                                <br>
                                <span class="event-name">Marie Davidson Exces De Vitesse</span>
                                </span>
                                </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="product1.html">
                                <img src="images/w0w.gif" class="img-responsive img-event-preview" alt="item">

                                <span class="productlist-price-container">
                                                <span class="product-price">
                                <br>
                                <span class="event-name">Pearson Sound</span>
                                </span>

                                </span>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="product1.html">
                                <img src="images/w0w.gif" class="img-responsive img-event-preview" alt="item">

                                <span class="productlist-price-container">
                                                <span class="product-price">
                                <br>
                                <span class="event-name">Marie Davidson Exces De Vitesse</span>
                                </span>
                                </span>
                            </a>
                        </div>
                    </div></div>